// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include sans-serif-font;
}

@font-face {
  font-family: 'Freestyle';
  src: url('../fonts/FREESCPT.TTF');
  src: url('../fonts/FREESCPT.TTF') format('truetype'), url('../fonts/FREESCPT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabriola';
  src: url('../fonts/Gabriola.ttf');
  src: url('../fonts/Gabriola.ttf') format('truetype'), url('../fonts/Gabriola.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

#rsvp {
  iframe {
    width: 100%;
    height: 1024px;
  }
}

.img-full-width {
  width: 100%;
  height: auto;
}

.important-color {
  color : $primary;
}

.header-image {
  padding-top: 57px;
}

.mail {
  color: #212529;
  text-decoration: underline;

  &:hover {
    color: darken(#212529, .1);
  }
}

#informations {
  background-image: url('../img/motif.png'), url('../img/motif-right.png');
  background-position: left center, right center;
  background-repeat: repeat-y, repeat-y;
  background-size: 150px, 150px;
  h1 {
    font-size: 4rem;
    @include freestyle-font;
  }
  @media (max-width: 992px) {
    background-image: none, none;
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 6rem;
    }
  }
}